[Unit]
Description=gunicorn daemon
Requires=diaryapp.socket
After=network.target

[Service]
PIDFile=/var/run/diaryapp.pid
User=justo
Group=justo
WorkingDirectory=/home/ubuntu/diaryapp
ExecStart=/home/ubuntu/diaryapp/envs/diaryapp/bin/gunicorn \
        --name portfolio \
        --access-logfile - \
        --workers 3 \
        --log-level=debug \
        --bind unix:/run/diaryapp.sock \
        diary.wsgi:application

[Install]
WantedBy=multi-user.target
